# Built-in FT2232 JTAG, based on lmtspbru/SDK-1.1M SDK11M.cfg.
adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
ftdi layout_init 0x0408 0x0ffb
ftdi layout_signal nSRST -oe 0x0800
transport select jtag
set CLOCK_FREQ 1000
set WORKAREASIZE 0x8000
set CHIPNAME STM32F4x7
reset_config srst_only
set CONNECT_UNDER_RESET 1
source [find target/stm32f4x.cfg]
jtag newtap $CHIPNAME bs -irlen 5 -expected-id 0x06419041
adapter speed 1000
